# Cleaning DATA Sets

Importing libraries

In [1]:
#Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth',400)
from datetime import datetime as dt

### Extract the Datasets from the Resourse folder  (US_Product_Supplied_of_Finished_Motor_Gasoline)

In [2]:
# Read the data into a panda DataFrame
barrels_per_day_info_df=pd.read_csv('Resources/Hardik/US_Product_Supplied_of_Finished_Motor_Gasoline.csv',skiprows=4)
barrels_per_day_info_df.head()

,Year,U.S. Product Supplied of Finished Motor Gasoline Thousand Barrels per Day
0,2022,8777
1,2021,8816
2,2020,8049
3,2019,9309
4,2018,9329

In [3]:
#renaming the dataframe
barrels_info_pd=barrels_per_day_info_df.rename(columns = {'U.S. Product Supplied of Finished Motor Gasoline Thousand Barrels per Day':'Barrels per Day'})

In [4]:
barrels_info_pd.head()

   Year  Barrels per Day
0  2022             8777
1  2021             8816
2  2020             8049
3  2019             9309
4  2018             9329

In [5]:
#Get a brief summary of the dataframe type
barrels_info_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             78 non-null     int64
 1   Barrels per Day  78 non-null     int64
dtypes: int64(2)
memory usage: 1.3 KB

In [6]:
#Exporting cleaned CSV files to the resources folder
barrels_info_pd.to_csv('Resources/Hardik_Data/US_Barrels_Per_Day_Cleaned.csv',index=False)

### Extract the Datasets from the Resourse folder (consumer-and-government-spending-on-electric-cars-2015-2020)

In [7]:
# Read the data into a panda DataFrame
spending_info_df=pd.read_csv('Resources/Hardik/consumer-and-government-spending-on-electric-cars-2015-2020.csv',skiprows=3)
spending_info_df.head()

,Unnamed: 0,Consumer spending,Government spending,Share of government spending as a percentage of total
0,2015,18,5,22
1,2016,24,7,21
2,2017,38,9,19
3,2018,66,13,17
4,2019,79,11,12

In [8]:
#renaming the dataframe
data_df=spending_info_df.rename(columns = {'Share of government spending as a percentage of total':'Government Share_%'})

In [9]:
data_df.head()

   Unnamed: 0  Consumer spending  Government spending  Government Share_%
0        2015                 18                    5                  22
1        2016                 24                    7                  21
2        2017                 38                    9                  19
3        2018                 66                   13                  17
4        2019                 79                   11                  12

In [10]:
#renaming the dataframe
spending_info_renamed_df=data_df.rename(columns = {'Unnamed: 0':'Years'})

In [11]:
spending_info_renamed_df.head()

   Years  Consumer spending  Government spending  Government Share_%
0   2015                 18                    5                  22
1   2016                 24                    7                  21
2   2017                 38                    9                  19
3   2018                 66                   13                  17
4   2019                 79                   11                  12

In [12]:
#data type info
spending_info_renamed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Years                6 non-null      int64
 1   Consumer spending    6 non-null      int64
 2   Government spending  6 non-null      int64
 3   Government Share_%   6 non-null      int64
dtypes: int64(4)
memory usage: 320.0 bytes

In [13]:
#changing Datatype of year column from int to object
spending_info_renamed_df['Years'] = pd.to_datetime(spending_info_renamed_df['Years'],format='%Y')

In [14]:
spending_info_renamed_df.head()

       Years  Consumer spending  Government spending  Government Share_%
0 2015-01-01                 18                    5                  22
1 2016-01-01                 24                    7                  21
2 2017-01-01                 38                    9                  19
3 2018-01-01                 66                   13                  17
4 2019-01-01                 79                   11                  12

In [15]:
#data type info
spending_info_renamed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Years                6 non-null      datetime64[ns]
 1   Consumer spending    6 non-null      int64
 2   Government spending  6 non-null      int64
 3   Government Share_%   6 non-null      int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 320.0 bytes

In [16]:
#Exporting cleaned CSV files to the resources folder
spending_info_renamed_df.to_csv('Resources/Hardik_Data/Consumer and Government spending cleaned.csv',index=False)

### Extract the Datasets from the Resourse folder (consumer-and-government-spending-on-electric-cars-2015-2020)

In [17]:
# Read the data into a panda DataFrame
EV_stations_info_df=pd.read_csv('Resources/Hardik/Electric and Alternative Fuel Charging Stations.csv')
EV_stations_info_df.head()

C:\Users\hardi\AppData\Local\Temp\ipykernel_27172\1007404620.py:2: DtypeWarning: Columns (6,16,20,31,33,36,39,40,41,43,46,52,53,55,57,58,60,62) have mixed types. Specify dtype option on import or set low_memory=False.
  EV_stations_info_df=pd.read_csv('Resources/Hardik/Electric and Alternative Fuel Charging Stations.csv')

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access
0,CNG,Spire - Montgomery Operations Center,2951 Chestnut St,NaN,Montgomery,AL,36107,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,MD,NaN,NaN,NaN
1,CNG,PS Energy - Atlanta,340 Whitehall St,"From I-7585 N, exit 91 to Central Ave, left on Memorial, left on Whitehall, and the station is on the left",Atlanta,GA,30303,NaN,770-350-3000,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,False
2,CNG,Metropolitan Atlanta Rapid Transit Authority,2424 Piedmont Rd NE,NaN,Atlanta,GA,30324,NaN,NaN,E,...,NaN,NaN,NaN,NaN,Q,3000,LD,NaN,NaN,NaN
3,CNG,United Parcel Service,270 Marvin Miller Dr,NaN,Atlanta,GA,30336,NaN,NaN,E,...,NaN,NaN,NaN,NaN,B,3600,HD,NaN,NaN,NaN
4,CNG,Arkansas Oklahoma Gas Corp,2100 S Waldron Rd,NaN,Fort Smith,AR,72903,NaN,479-783-3188,E,...,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN,False

In [18]:
#Droping the unwanted columns
#byusing drop function of panda
EV_stations_info_cleaned_df_1=EV_stations_info_df.drop(['Plus4','Station Phone','Status Code','Expected Date','Groups With Access Code','Cards Accepted','BD Blends','NG Fill Type Code','NG PSI','EV Level1 EVSE Num','EV Level2 EVSE Num','EV DC Fast Count'],axis=1)

In [20]:
#Droping the unwanted columns
EV_stations_info_cleaned_df_2=EV_stations_info_cleaned_df_1.drop(['EV Other Info','EV Network','EV Network Web','Owner Type Code','Federal Agency Name','Hydrogen Status Link','LPG Primary','E85 Blender Pump','EV Connector Types','Intersection Directions (French)','Access Days Time (French)','BD Blends (French)'],axis=1)

In [22]:
EV_stations_info_cleaned_df=EV_stations_info_cleaned_df_2.drop(['Groups With Access Code (French)','Hydrogen Is Retail','Access Detail Code','Federal Agency Code','CNG Dispenser Num','CNG On-Site Renewable Source','CNG Total Compression Capacity','CNG Storage Capacity','LNG On-Site Renewable Source','E85 Other Ethanol Blends','EV Pricing','EV Pricing (French)','LPG Nozzle Types','Hydrogen Pressures','Hydrogen Standards','CNG Fill Type Code','CNG PSI','CNG Vehicle Class','LNG Vehicle Class','EV On-Site Renewable Source','Restricted Access'],axis=1)

In [26]:
EV_stations_info_cleaned_df_final=EV_stations_info_cleaned_df.drop(['Federal Agency ID'],axis=1)

In [27]:
EV_stations_info_cleaned_df_final.head()

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Access Days Time,Geocode Status,Latitude,Longitude,Date Last Confirmed,ID,Updated At,Open Date,NG Vehicle Class,Country,Access Code,Facility Type
0,CNG,Spire - Montgomery Operations Center,2951 Chestnut St,NaN,Montgomery,AL,36107,NaN,200-9,32.367916,-86.267021,2022-06-14,17,2022-06-14 16:22:47 UTC,2010-12-01,MD,US,private,STANDALONE_STATION
1,CNG,PS Energy - Atlanta,340 Whitehall St,"From I-7585 N, exit 91 to Central Ave, left on Memorial, left on Whitehall, and the station is on the left",Atlanta,GA,30303,24 hours daily,200-8,33.745843,-84.398837,2021-08-04,42,2022-02-10 19:42:29 UTC,1994-07-15,MD,US,public,STANDALONE_STATION
2,CNG,Metropolitan Atlanta Rapid Transit Authority,2424 Piedmont Rd NE,NaN,Atlanta,GA,30324,NaN,200-8,33.821911,-84.367461,2021-08-04,45,2022-02-10 19:42:29 UTC,1996-12-15,LD,US,private,FLEET_GARAGE
3,CNG,United Parcel Service,270 Marvin Miller Dr,NaN,Atlanta,GA,30336,NaN,200-9,33.760256,-84.543822,2022-06-14,64,2022-06-14 16:22:47 UTC,1997-01-01,HD,US,private,STANDALONE_STATION
4,CNG,Arkansas Oklahoma Gas Corp,2100 S Waldron Rd,NaN,Fort Smith,AR,72903,24 hours daily,200-9,35.362213,-94.375338,2022-06-14,73,2022-06-14 16:22:47 UTC,1997-01-01,MD,US,public,UTILITY

In [28]:
#Droping Duplicate Data
EV_stations_info_cleaned_df.drop_duplicates(keep=False, inplace=True)

In [31]:
#Reoder the columns 
EV_Stations_df=EV_stations_info_cleaned_df[['ID','Fuel Type Code','City','State','ZIP','Latitude','Longitude','Country','Station Name','Street Address','Intersection Directions','Access Days Time','Geocode Status','Date Last Confirmed','Updated At','Open Date','NG Vehicle Class','Access Code','Facility Type']]

In [35]:
#Final cleaned-ordered Database
EV_Stations_df.head()

,ID,Fuel Type Code,City,State,ZIP,Latitude,Longitude,Country,Station Name,Street Address,Intersection Directions,Access Days Time,Geocode Status,Date Last Confirmed,Updated At,Open Date,NG Vehicle Class,Access Code,Facility Type
0,17,CNG,Montgomery,AL,36107,32.367916,-86.267021,US,Spire - Montgomery Operations Center,2951 Chestnut St,NaN,NaN,200-9,2022-06-14,2022-06-14 16:22:47 UTC,2010-12-01,MD,private,STANDALONE_STATION
1,42,CNG,Atlanta,GA,30303,33.745843,-84.398837,US,PS Energy - Atlanta,340 Whitehall St,"From I-7585 N, exit 91 to Central Ave, left on Memorial, left on Whitehall, and the station is on the left",24 hours daily,200-8,2021-08-04,2022-02-10 19:42:29 UTC,1994-07-15,MD,public,STANDALONE_STATION
2,45,CNG,Atlanta,GA,30324,33.821911,-84.367461,US,Metropolitan Atlanta Rapid Transit Authority,2424 Piedmont Rd NE,NaN,NaN,200-8,2021-08-04,2022-02-10 19:42:29 UTC,1996-12-15,LD,private,FLEET_GARAGE
3,64,CNG,Atlanta,GA,30336,33.760256,-84.543822,US,United Parcel Service,270 Marvin Miller Dr,NaN,NaN,200-9,2022-06-14,2022-06-14 16:22:47 UTC,1997-01-01,HD,private,STANDALONE_STATION
4,73,CNG,Fort Smith,AR,72903,35.362213,-94.375338,US,Arkansas Oklahoma Gas Corp,2100 S Waldron Rd,NaN,24 hours daily,200-9,2022-06-14,2022-06-14 16:22:47 UTC,1997-01-01,MD,public,UTILITY

In [36]:
EV_Stations_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70406 entries, 0 to 70405
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       70406 non-null  int64
 1   Fuel Type Code           70406 non-null  object
 2   City                     70406 non-null  object
 3   State                    70406 non-null  object
 4   ZIP                      70405 non-null  object
 5   Latitude                 70406 non-null  float64
 6   Longitude                70406 non-null  float64
 7   Country                  70406 non-null  object
 8   Station Name             70406 non-null  object
 9   Street Address           70405 non-null  object
 10  Intersection Directions  4493 non-null   object
 11  Access Days Time         66628 non-null  object
 12  Geocode Status           70391 non-null  object
 13  Date Last Confirmed      70188 non-null  object
 14  Updated At               70406 non-null  object
 15  Open Date                69310 non-null  object
 16  NG Vehicle Class         1780 non-null   object
 17  Access Code              70406 non-null  object
 18  Facility Type            27665 non-null  object
dtypes: float64(2), int64(1), object(16)
memory usage: 10.7+ MB

In [38]:
#Exporting cleaned CSV files to the resources folder
EV_Stations_df.to_csv('Resources/Hardik_Data/US_EV_Stations_data.csv',index=False)